:global(:root) {
    --bg-color: #fdf5e0;
    --bg-color-alt: #d8cec5;
    --bg-color-paper: #fcf6ea;
    --bg-color-accent: #d1e6d3;
    --bg-color-dark: #255041;
    --accent-color: #A8BF68;
    --accent-color-pink: #FD8BA8;
    --accent-color-orange: #FDBD6C;
    --accent-color-turquoise: #00C0BA;
    --accent-color-blue: #239DCA;
    --accent-color-darkblue: #017B9B;
    --accent-color-green: #6DAF5F;
    --accent-color-darkgreen: #03695E;
    --text-outline-h1: 1px;
    --text-outline-color-h1: #A8BF68 ;
    --text-color-h1: #255041 ;
    --text-color-h2: color-mix(in srgb, var(--text-color-h1) 80%, transparent);
    --text-color-p: #444;
    --text-color-a: #888;
    --text-color-bright: ivory;
    --text-color-bright-alt: color-mix(in srgb, var(--text-color-bright) 70%, var(--accent-color));
}

:global(h1) {
  --text-outline-h1-: calc(var(--text-outline-h1) * -1);
text-shadow:
  var(--text-outline-h1-) var(--text-outline-h1-) 0 var(--text-outline-color-h1),
  var(--text-outline-h1) var(--text-outline-h1-) 0 var(--text-outline-color-h1),
  var(--text-outline-h1-) var(--text-outline-h1) 0 var(--text-outline-color-h1),
  var(--text-outline-h1) var(--text-outline-h1) 0 var(--text-outline-color-h1);
}
