@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

h1, h2, .pacifico-regular {
  font-family: "Pacifico";
}

p, .delius-regular {
  font-family: "Delius";
}
