name: Deploy Worker
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4
        
      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v3
        
      - name: Build 
        run: nix develop --command "npm run build"
      
      - name: Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
